.feedback {
   position: relative;
   &__user {
      display: flex;
      margin-top: 100px;
      &:nth-child(2) {
         margin-top: 70px;
      }
   }

   &__photo {
      width: 169px;
      height: 169px;
      border-radius: 50%;
   }

   &__info {
      margin-left: 62px;
      padding-right: 60px;
   }

   &__name {
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
   }

   &__subtitle {
      margin-top: 10px;
      color: #646464;
      font-size: 14px;
      font-weight: 300;
   }

   &__text {
      margin-top: 20px;
      color: #0d0d0d;
      font-size: 16px;
      font-weight: 300;
   }
}
